<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row">
            <div class="col-sm-8">
       <p class="m-5"> {{ constants.landing_message }} </p>
    </div>
    <div class="col-sm-4">
       <img src="{{ url_for('static',filename = 'img/ppi_features.png') }}" alt="" class="img-thumbnail">
        </div>
    </div>
    </div>
</section>
<!-- Features section-->
<section class="py-5 border-bottom" id="features_extended">
    <div class="container px-5 my-5">
        <div class="row">
            <div class="col-sm-6">
               <img src="{{ url_for('static',filename = 'img/hive.png') }}" alt="" class="img-thumbnail">
    </div>
    <div class="col-sm-6">
       <img src="{{ url_for('static',filename = 'img/hippie.png') }}" alt="" class="img-thumbnail">
        </div>
    </div>
    </div>
</section>